li {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 1.5rem;
}

/* Rainbow text class */
.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}